body
  font-size 16px !important
// sidebar
.personal-info-wrapper
  .personal-img, .name
    display none !important
  .num
    margin 2rem auto 1rem !important
// navbar
.navbar
  .logo
    display none
  .site-name
    letter-spacing 5px
@media (min-width $MQMobile)
  .iconfont
    font-family 'iconfont' !important
    font-size 16px !important
    font-style normal
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
// 文章右侧边栏TOC
.page
  padding-right 18rem !important
  .side-bar
    top 10rem
    bottom 10rem
    right 1rem !important
    overflow-y scroll
  .sub-sidebar-wrapper
    font-size 13px !important
    width 17rem !important
@media (max-width 1100px)
  .page
    padding-right 13rem !important
    .side-bar
      right 1rem !important
    .sub-sidebar-wrapper
      font-size 12px !important
      width 12rem !important
@media (max-width $MQMobile)
  .page
    padding-right 0 !important
// 文章样式
h2
  padding-left 0 !important
  &::before
    display none !important
  padding-bottom .3rem
  border-bottom 1px solid $borderColor
// 代码样式
.content__default 
  code
    font-size 0.85em !important
    // color #24292e !important
  pre
    padding 1rem !important
div[class*="language-"]::before {
  // color #24292e !important
}
// .token.selector, .token.important, .token.atrule, .token.keyword, .token.builtin
//   color #a32eff !important // 紫色
// .token.property, .token.class-name, .token.constant, .token.symbol
//   color: #ffbf00  // 黄色
// .token.string, .token.char, .token.attr-value, .token.regex, .token.variable
//   color #42b983 !important  // 绿色
// .token.boolean, .token.number, .token.function
//   color #d73a49 !important  // 橙色

// .token.selector, .token.important, .token.atrule, .token.keyword, .token.builtin
//   color #a32eff !important // 紫色
// .token.property, .token.class-name, .token.constant, .token.symbol
//   color: #ffbf00  // 黄色
// .token.string, .token.char, .token.attr-value, .token.regex, .token.variable
//   color #42b983 !important  // 绿色
// .token.boolean, .token.number, .token.function
//   color #d73a49 !important  // 橙色

// .token
//   &.punctuation, &.function, &.number, &.operator, &.attr-value, &.boolean
//     color #24292e !important
//   &.keyword, &.annotation
//     color #d73a49 !important
//   &.class-name
//     color #6f42c1 !important
//   &.string
//     color #032f62 !important
//   &.comment
//     color #6a737d !important
//   &.property, &.variable, &.atrule, &.attr-name
//     color #22863a !important

 






